<template name="FooterMenu">
	<div class="footer-container container">
		<p style="text-align: center; color: white;">
		    <a style="text-align: center; color: white;" href="#">All Content © PM Data PTY LTD</a>
			|
			<a style="text-align: center; color: white;" href="/pages/privacy_policy">Privacy Policy</a>
			|
			<a style="text-align: center; color: white;" href="/pages/terms_of_use">Terms Of Use</a>
			|
			<a style="text-align: center; color: white;" href="/pages/report_an_issue">Report an Issue</a>
			|
			<a style="text-align: center; color: white;" href="/contact_us">Contact Us</a>
		</p>
	</div>
</template>
