<template name="SearchBusinessListings">
  <div class="page-container container" id="content">
    <div class="row" id="title_row">
      <div class="col-md-12">
        <div id="page_menu" class="pull-right">
        </div>
      </div>
    </div>
    {{> SearchBusinessListingsView}}
  </div>
</template>

<template name="SearchBusinessListingsView">
  <div id="data_view" class="">
    <h2 id="component-title">
      Business Listings
    </h2>
    <form id="dataview-controls" class="form-inline">
      <div id="dataview-controls-search">
        {{#if isNotEmpty}}
        <div id="dataview-controls-search-group" class="form-group">
          <label class="sr-only" for="search">
            Search
          </label>
          <input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
          <button type="button" id="dataview-search-button" class="btn btn-primary">
            <span class="fa fa-search">
            </span>
          </button>
        </div>
        {{/if}}
      </div>
    </form>
    {{#if isNotEmpty}}
      {{#if isNotFound}}
    <div class="alert alert-warning">
      "{{searchString}}" not found.
    </div>
    {{else}}
      {{#if tableItems}}
        {{#each tableItems}}
            {{> SearchBusinessListingsViewItem}}
        {{/each}}
      {{/if}}
    {{/if}}
    {{else}}
    <div class="alert alert-info">
      No listings yet
    </div>
    {{/if}}
  </div>
</template>

<template name="SearchBusinessListingsViewItem">
    <div class="property-listing btm-mrg-20">
        <div class="media">
            <div class="col-md-3 search-list-img">
            <a href="#" target="_parent">
            <img alt="image" class="img-responsive" src="{{logoImage logo}}"></a>

            </div>

            <div class="col-md-9 media-body fnt-smaller">
                <a href="#" target="_parent"></a>

                <h3 class="media-heading">
                  {{company_name}}
                  <i class="pull-right addFave">
                    {{> favoriteButton _id=_id}}
                  </i>
                </h3>

                <p>{{company_short_description}}</p>


                <div class="col-md-9" style="padding-left: 0px">
                    <div class="clearfix border-btm">
                        <div class="col-md-6 text-left search-list-top"></div>
                        <div class="col-md-6 text-right search-list-top">{{company_suburb}} {{company_state}}</div>
                    </div>
                </div>
                <div class="col-md-3" style="padding: 0px;">
                    <button class="btn btn-block btn-info" id="more-button" data-loading-text="Please wait...">
                        More
                    </button>
                </div>
            </div>
        </div>
    </div><!-- End Listing-->
</template>

